zeusucbot.shop {
    tls {
        issuer acme {
            contact your@email.com
            preferred_chains smallest
        }
    }
    root * /frontend/
    file_server
}

zeusucbot.shop/api/* {
    tls {
        issuer acme {
            contact magomedovmarif2@gmail.com
            preferred_chains smallest
        }
    }
    reverse_proxy http://app:8000
}