zeusucbot.shop {
    tls internal # Добавьте эту строку для автоматического SSL
    root * /srv
    file_server
}

zeusucbot.shop/api/* {
    tls internal # И здесь
    reverse_proxy http://app:8000
}