zeusucbot.shop {
    root * /srv
    file_server

    reverse_proxy /api/* http://app:8000

    # Автоматическое получение сертификата SSL
    tls {
        email lanchineg@gmail.com # Укажите ваш email для уведомлений о сертификате
    }
}
