@keyframes swipe-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30%);
  }
}

.swipe-left {
  animation: swipe-left 0.5s forwards;
}

.swipeable-element {
  transition: transform 0.5s ease;
}

.return {
  transform: translateX(0);
}
